$smartphone-portrait-width: "(max-width: 599px)";

$small-landscape-width: "(max-width: 599px)";

$landscape-width-min: "(min-width: 600px)";
$landscape-width-max: "(max-width: 980px)";

$tablet-portrait-width-min: "(min-width: 600px)";
$tablet-portrait-width-max: "(max-width: 800px)";

$lower-resolution-width: "(max-width: 1100px)";

$higher-resolution-width: "(min-width: 1921px)";



@mixin smartphone-portrait {
  @media #{$smartphone-portrait-width} and (orientation: portrait){
    @content;
  }
}

@mixin small-smartphone-landscape {
  @media #{$small-landscape-width} and (orientation: landscape) {
    @content;
  }
}

@mixin landscape-screen {
  @media #{$landscape-width-min} and #{$landscape-width-max} and (orientation: landscape) {
    @content;
  }
}

@mixin tablet-portrait {
  @media #{$tablet-portrait-width-min} and #{$tablet-portrait-width-max} and (orientation: portrait){
    @content;
  }
}

@mixin lower-resolution {
  @media #{$lower-resolution-width} {
    @content;
  }
}

@mixin higher-resolution {
  @media #{$higher-resolution-width} {
    @content;
  }
}

