html {
  font-size: 24px;
  font-family: latoregular, sans-serif;
  @include large {
    font-size: 16px;
  }
  @include normal {
    font-size: 14px;
  }
  @include small {
    font-size: 12px;
  }
  @include smallest {
    font-size: 8px;
  }
}

.page-content {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*Main page*/




#main-page {
  background-image: url("../images/lapin_comic_bg.jpg");
  background-size: contain;
  width: 100%;
  padding-bottom: 50.5%;
  height: 0;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  @include cover {
    background-size: cover;
    height: 640px;
  }
}

.bubbles-container {
  width: 35rem;
  height: 34rem;
  position: relative;
}

.main-content {
  width: 18rem;
  height: 18rem;
  border-radius: 9rem;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 3rem 2rem;
  box-sizing: border-box;
  border: 5px dashed $brownDark;
  position: absolute;
  top: 16%;
  left: 15%;
  z-index: 5;
  h1 {
    color: $brownDark;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 1.25rem 0;
  }
  p {
    color: $brownDark;
  }
}


.about-circle {
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  box-sizing: border-box;
  background-color: $grayBrown;
  color: $beigeLight;
  text-align: center;
  padding: 2.5rem 0;
  font-size: 1rem;
  position: absolute;
  top: 57%;
  left: 9%;
  z-index: 1;
  text-decoration: none;
  &:hover {
    background-color: $brownDark;
    color: $beigeDark;
  }
}


.portfolio-circle {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  box-sizing: border-box;
  background-color: $deepRed;
  color: $beigeLight;
  text-align: center;
  padding: 3.75rem 1rem;
  font-size: 2rem;
  position: absolute;
  top: 66%;
  left: 30%;
  z-index: 6;
  text-decoration: none;
  &:hover {
    background-color: $brownDark;
    color: $beigeDark;
  }
}

.experience-circle {
  width: 8rem;
  height: 8rem;
  display: block;
  border-radius: 4rem;
  box-sizing: border-box;
  background-color: $yellowDark;
  text-decoration: none;
  color: $beigeLight;
  text-align: center;
  padding: 3rem 0;
  font-size: 1.5rem;
  position: absolute;
  left: 54%;
  top: 57%;
  z-index: 2;
  &:hover {
    background-color: $brownDark;
    color: $beigeDark;
  }
}

.contact-circle {
  width: 6rem;
  height: 6rem;
  display: block;
  border-radius: 3rem;
  box-sizing: border-box;
  background-color: $beigeDark;
  text-decoration: none;
  color: $beigeLight;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1rem;
  position: absolute;
  left: 75%;
  top: 55%;
  z-index: 1;
  &:hover {
    background-color: $brownDark;
    color: $beigeDark;
  }
}


/*Navigation bar*/

nav {
  height: 5rem;
  background-color: white;
  ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    li {
      width: 20%;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      text-transform: uppercase;
      text-align: center;
      font-size: 1rem;
      box-sizing: border-box;
      padding: 2rem;
      z-index: 1000;
      a {
        text-decoration: none;
        color: $grayBrown;
        &:hover {
          color: $deepRed;
        }
      }
    }
  }
}

/*About me section*/

#about-me {
  background-image: url("../images/threea.jpg");
  background-size: contain;
  width: 100%;
  padding-bottom: 51%;
  height: 0;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  @include cover {
    background-size: cover;
    height: 640px;
  }
}

.intro-container {
  width: 50%;
  margin-left: 50%;
  position: relative;
  @include small {
    margin-left: 10%;
    width: 80%;
  }
}

.intro {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  box-sizing: border-box;
  border: 5px dashed $brownDark;
  border-radius: 2rem;
  width: 100%;
  height: auto;
  position: absolute;
  top: 5rem;
  z-index: 1;
  h1 {
    font-size: 2rem;
  }
  p {
    margin: 1rem 0;
  }
}

a.skills-circle {
  position: absolute;
  top: 19rem;
  left: 70%;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  background-color: $yellowDark;
  text-decoration: none;
  color: $beigeLight;
  text-align: center;
  padding: 2.5rem 1rem;
  box-sizing: border-box;
  z-index: 2;
  animation: bounce 3s infinite linear alternate;
  &:hover {
    background-color: $deepRed;
    color: $beigeDark;
  }
  @include normal {
    animation: none;
  }
}

@keyframes bounce {
  0% {
    top: 19rem;
  }
  100% {
    top: 25rem;
  }
}

/*Skills sub-section*/