html,
body {
  height: 100%;
  width: 100%;
}


html {
  font-size: 24px;
  font-family: latoregular, sans-serif;
  @include large {
    font-size: 16px;
  }
  @include normal {
    font-size: 14px;
  }
  //@include small {
  //  font-size: 10px;
  //}
  //@include smallest {
  //  font-size: 6px;
  //}
}

.clear {
  &:before,
  &:after {
    content : "";
    display : table;
    clear: both;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: (100%/12) * $i;
  }
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  /*gutter*/
  //padding: 1rem;
  box-sizing: border-box;
  @include smartphone{
    float: none;
    width: 100%;
  }
}

.left-margin {
  height: auto;
  float: left;
}

/*Main page*/


section#main-page {
  padding: 0;
  height: 100%;
  background-image: url("../images/lapin_comic_bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.overlayer {
  position: relative;
  height: 100%;
  padding: 0;
}

.bubbles-container {
  position: relative;
}

.main-content {
  width: 18rem;
  height: 18rem;
  border-radius: 9rem;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 3rem 2rem;
  box-sizing: border-box;
  border: 5px dashed $brownDark;
  z-index: 5;
  position: relative;
  margin-top: 10%;
  h1 {
    color: $brownDark;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 1.25rem 0;
  }
  p {
    color: $brownDark;
  }
}

.about-circle {
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  box-sizing: border-box;
  background-color: $grayBrown;
  color: $beigeLight;
  text-align: center;
  padding: 2.5rem 0;
  font-size: 1rem;
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 1;
  text-decoration: none;
  &:hover {
    background-color: $brownDark;
    color: $beigeDark;
  }
}


.portfolio-circle {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  box-sizing: border-box;
  background-color: $deepRed;
  color: $beigeLight;
  text-align: center;
  padding: 3.75rem 1rem;
  font-size: 2rem;
  position: absolute;
  top: 88%;
  left: 16%;
  z-index: 6;
  text-decoration: none;
  &:hover {
    background-color: $brownDark;
    color: $beigeDark;
  }
}

.experience-circle {
  width: 8rem;
  height: 8rem;
  display: block;
  border-radius: 4rem;
  box-sizing: border-box;
  background-color: $yellowDark;
  text-decoration: none;
  color: $beigeLight;
  text-align: center;
  padding: 3rem 0;
  font-size: 1.5rem;
  position: absolute;
  left: 36%;
  top: 75%;
  z-index: 2;
  &:hover {
    background-color: $brownDark;
    color: $beigeDark;
  }
}

.contact-circle {
  width: 6rem;
  height: 6rem;
  display: block;
  border-radius: 3rem;
  box-sizing: border-box;
  background-color: $beigeDark;
  text-decoration: none;
  color: $beigeLight;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1rem;
  position: absolute;
  left: 45%;
  top: 52%;
  z-index: 1;
  &:hover {
    background-color: $brownDark;
    color: $beigeDark;
  }
}

/*Navigation bar*/

nav {
  height: 5rem;
  background-color: white;
  ul {
    li {
      display: inline-block;
      text-transform: uppercase;
      text-align: center;
      font-size: 1rem;
      box-sizing: border-box;
      padding: 2rem 1rem;
      z-index: 1000;
      &:last-of-type {
        float: right;
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        color: black;
        padding: 1.5rem;
      }
      a {
        text-decoration: none;
        color: $grayBrown;
        &:hover {
          color: $deepRed;
        }
      }
    }
  }
}

/*Section about me*/

section#about-me {
  padding: 0;
  height: 100%;
  background-image: url("../images/threea.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.intro-container {
  position: relative;
  padding: 0;
  height: 100%;
}

.intro {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  box-sizing: border-box;
  border: 5px dashed $brownDark;
  color: $brownDark;
  border-radius: 2rem;
  width: 100%;
  height: auto;
  margin-top: 15%;
  z-index: 1;
  h1 {
    font-size: 2rem;
  }
  p {
    margin: 1rem 0;
  span {
    color: lighten($deepRed, 15%);
  }
  }
}

a.skills-circle {
  display: block;
  margin-left: 58%;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  font-size: 1.25rem;
  background-color: $yellowDark;
  text-decoration: none;
  color: $beigeLight;
  text-align: center;
  padding: 3rem 1rem;
  box-sizing: border-box;
  z-index: 2;
  &:hover {
    background-color: $deepRed;
    color: $beigeDark;
  }
}


/*Skills sub-section*/

#skills {
  height: 100%;
  padding: 0;
}

.skills-header {
  color: $brownDark;
  font-size: 2rem;
  text-align: center;
  margin: 3rem 0;
}

.tech-list {
  line-height: 2rem;
}

.skills-chart {
  line-height: 1.75rem;
}

.tech-chart {
  ul {
    border-left: 1px solid $brownDark;
    li {
      margin: 0.25rem;
      box-sizing: border-box;
      &:first-child {
        background-color: lighten($brownDark, 10%);
        width: 40%;
      }
      &:nth-child(2) {
        background-color: $grayBrown;
        width: 45%;
      }
      &:nth-child(3) {
        background-color: $beigeDark;
        width: 20%;
      }
    }
  }
}

.levels {
  ul {
    line-height: 1rem;
    li {
      display: inline-block;
      margin-right: 4rem;
      padding: 0 1rem;
      box-sizing: border-box;
      text-transform: uppercase;
      color: $grayBrown;
      font-size: 0.7rem;
      border-right: 1px solid $brownDark;
      }
    }
  }

.useful-chart {
  ul {
    border-left: 1px solid $brownDark;
    li {
      margin: 0.25rem;
      box-sizing: border-box;
      &:first-child {
        background-color: lighten($deepRed, 10%);
        width: 40%;
      }
      &:nth-child(2) {
        background-color: $beigeDark;
        width: 20%;
      }
      &:nth-child(3) {
        background-color: $yellowDark;
        width: 35%;
      }
      &:nth-child(4) {
        background-color: $grayBrown;
        width: 15%;
      }
      &:nth-child(5) {
        background-color: lighten($brownDark, 10%);
        width: 20%;
      }
    }
  }
}

.tips {
  display: block;
  border: 3px dashed $brownDark;
  height: 4.25rem;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
}


.tips-image img {
  display: block;
  border-radius: 84px;
  margin: 3rem 0;
}