html {
  font-size: 24px;
  font-family: latoregular, sans-serif;
}

.page-content {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#main-page {
  background-image: url("../images/lapin_comic_bg.jpg");
  background-size: contain;
  width: 100%;
  padding-bottom: 59%;
  height: 0;
  background-repeat: no-repeat;
  position: relative;
}

.main-content {
  width: 16rem;
  height: 16rem;
  border-radius: 8rem;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 6rem 2rem;
  box-sizing: border-box;
}