/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato/lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html,
body {
  height: 100%;
  width: 100%; }

* {
  box-sizing: border-box; }

html {
  font-size: 100%;
  font-family: latoregular, sans-serif; }
  @media (max-width: 980px) {
    html {
      font-size: 120%; } }

.grid-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px; }

.clear:before, .clear:after {
  content: "";
  display: table;
  clear: both; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  /*gutter*/ }
  @media (max-width: 980px) {
    [class*="col-"] {
      float: none;
      width: 100%; } }

[class*="section-header-"] {
  margin: 13% 0 5% 0;
  text-align: center;
  font-size: 2rem;
  color: #2c1a06; }
  @media (max-width: 980px) {
    [class*="section-header-"] {
      box-sizing: border-box;
      padding: 0 5%; } }

.division-header {
  margin: 5% 0;
  text-align: center;
  font-size: 1.5rem;
  color: #8e8272; }
  @media (max-width: 980px) {
    .division-header {
      box-sizing: border-box;
      padding: 0 5%; } }

/*Main page*/
section#main-page {
  padding: 0;
  height: 100%;
  background-image: url("../images/lapin_bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative; }

.main-content {
  width: 18rem;
  height: 18rem;
  border-radius: 9rem;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 3rem 2rem;
  box-sizing: border-box;
  border: 5px dashed #2c1a06;
  z-index: 5;
  margin-top: 10%;
  margin-left: 60%; }
  .main-content h1 {
    color: #2c1a06;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 1.25rem 0; }
  .main-content p {
    color: #2c1a06; }
  @media (max-width: 980px) {
    .main-content {
      width: 15rem;
      height: 15rem;
      margin: 0 auto;
      font-size: 1.2rem;
      padding: 2rem; } }

.about-bubble {
  background-color: #431B4A;
  color: #eadfc1;
  height: 20rem;
  width: 20rem;
  text-align: center;
  margin-top: 55%;
  border-radius: 10rem;
  box-sizing: border-box;
  padding: 5rem 1.5rem;
  line-height: 1.5rem;
  font-size: 1.3rem; }
  .about-bubble p {
    margin-bottom: 10%; }

.arrow-down {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  box-sizing: border-box;
  background-color: #590100;
  margin-top: 50%;
  padding: 20px 16px 12px 16px;
  margin-left: -5%; }

/*Navigation bar*/
nav {
  background-color: white;
  width: 100%;
  height: 11%;
  border-bottom: 1px solid #8e8272; }
  nav ul li {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 3% 4% 3% 0;
    z-index: 1000; }
    nav ul li:last-of-type {
      float: right;
      font-size: 2rem;
      font-weight: 900;
      text-transform: uppercase;
      color: black;
      padding-top: 2%; }
    nav ul li a {
      text-decoration: none;
      color: #8e8272; }
      nav ul li a:hover {
        color: #590100; }
  @media (max-width: 980px) {
    nav {
      display: none; } }

.sticky {
  position: fixed;
  top: 0;
  z-index: 99999999; }

/*Skills section*/
section#my-skills {
  height: auto;
  padding: 0;
  background-color: white; }

[class*="tech-"],
[class*="skills-"] {
  margin: 2% 25%;
  width: 50%; }
  @media (max-width: 980px) {
    [class*="tech-"],
    [class*="skills-"] {
      margin: 3% auto;
      width: 90%;
      padding: 0 5%; }
      [class*="tech-"] h4,
      [class*="skills-"] h4 {
        font-size: 0.7rem; }
      [class*="tech-"] p,
      [class*="skills-"] p {
        font-size: 0.7rem; } }

.tech-html {
  color: #8e8272;
  text-align: center; }
  .tech-html h4 {
    margin: 0.5rem 0;
    float: left; }
  .tech-html p {
    margin: 0.5rem 0;
    float: right; }
  .tech-html .outer {
    height: 1.5rem;
    width: 100%;
    background-color: #d2cdc7; }
  .tech-html .inner {
    height: 1.5rem;
    width: 45%;
    background-color: #431B4A; }

.tech-css {
  color: #8e8272;
  text-align: center; }
  .tech-css h4 {
    margin: 0.5rem 0;
    float: left; }
  .tech-css p {
    margin: 0.5rem 0;
    float: right; }
  .tech-css .outer {
    height: 1.5rem;
    width: 100%;
    background-color: #d2cdc7; }
  .tech-css .inner {
    height: 1.5rem;
    width: 50%;
    background-color: #431B4A; }

.tech-js {
  color: #8e8272;
  text-align: center; }
  .tech-js h4 {
    margin: 0.5rem 0;
    float: left; }
  .tech-js p {
    margin: 0.5rem 0;
    float: right; }
  .tech-js .outer {
    height: 1.5rem;
    width: 100%;
    background-color: #d2cdc7; }
  .tech-js .inner {
    height: 1.5rem;
    width: 20%;
    background-color: #431B4A; }

.levels {
  margin: 2% 25%;
  width: 50%; }
  .levels ul {
    text-align: center; }
    .levels ul:last-of-type {
      margin-bottom: 6rem; }
    .levels ul li {
      display: inline-block;
      padding: 0 5%;
      box-sizing: border-box;
      text-transform: uppercase;
      color: #8e8272;
      font-size: 60%;
      border-right: 1px solid #8e8272; }
      .levels ul li:first-of-type {
        border-left: 1px solid #8e8272; }
  @media (max-width: 980px) {
    .levels {
      margin: 3% auto;
      width: 90%;
      font-size: 0.5rem; } }

.skills-rwd {
  color: #8e8272;
  text-align: center; }
  .skills-rwd h4 {
    margin: 0.5rem 0;
    float: left; }
  .skills-rwd p {
    margin: 0.5rem 0;
    float: right; }
  .skills-rwd .outer {
    height: 1.5rem;
    width: 100%;
    background-color: #d2cdc7; }
  .skills-rwd .inner {
    height: 1.5rem;
    width: 35%;
    background-color: #590100; }

.skills-git {
  color: #8e8272;
  text-align: center; }
  .skills-git h4 {
    margin: 0.5rem 0;
    float: left; }
  .skills-git p {
    margin: 0.5rem 0;
    float: right; }
  .skills-git .outer {
    height: 1.5rem;
    width: 100%;
    background-color: #d2cdc7; }
  .skills-git .inner {
    height: 1.5rem;
    width: 25%;
    background-color: #590100; }

.skills-rest {
  color: #8e8272;
  text-align: center; }
  .skills-rest h4 {
    margin: 0.5rem 0;
    float: left; }
  .skills-rest p {
    margin: 0.5rem 0;
    float: right; }
  .skills-rest .outer {
    height: 1.5rem;
    width: 100%;
    background-color: #d2cdc7; }
  .skills-rest .inner {
    height: 1.5rem;
    width: 20%;
    background-color: #590100; }

.skills-gulp {
  color: #8e8272;
  text-align: center; }
  .skills-gulp h4 {
    margin: 0.5rem 0;
    float: left; }
  .skills-gulp p {
    margin: 0.5rem 0;
    float: right; }
  .skills-gulp .outer {
    height: 1.5rem;
    width: 100%;
    background-color: #d2cdc7; }
  .skills-gulp .inner {
    height: 1.5rem;
    width: 30%;
    background-color: #590100; }

.skills-psd {
  color: #8e8272;
  text-align: center; }
  .skills-psd h4 {
    margin: 0.5rem 0;
    float: left; }
  .skills-psd p {
    margin: 0.5rem 0;
    float: right; }
  .skills-psd .outer {
    height: 1.5rem;
    width: 100%;
    background-color: #d2cdc7; }
  .skills-psd .inner {
    height: 1.5rem;
    width: 25%;
    background-color: #590100; }

/*Skills divider*/
article.skilled-divider {
  min-height: 30%;
  padding: 2% 0;
  background-color: #431B4A; }
  @media (max-width: 980px) {
    article.skilled-divider {
      padding: 10% 0; } }

.tips {
  display: block;
  height: auto;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 3%;
  background-color: white;
  border-radius: 2rem;
  margin-left: 16.66667%;
  text-align: right; }
  @media (max-width: 980px) {
    .tips {
      margin: 5%;
      width: 90%;
      padding: 5%;
      box-sizing: border-box; } }

.tips-image img {
  display: block;
  border-radius: 100px;
  float: right;
  padding: 3%; }
  @media (max-width: 980px) {
    .tips-image img {
      margin: 5%;
      width: 30%;
      height: auto; } }

/*Portfolio*/
section#portfolio {
  height: auto;
  padding: 0;
  background-color: white; }

.portfolio-item h4 {
  font-size: 1.2rem;
  color: #8e8272;
  margin: 7% 0; }
  @media (max-width: 980px) {
    .portfolio-item h4 {
      margin: 2rem 0; } }
  .portfolio-item h4 span {
    text-transform: uppercase; }
.portfolio-item p {
  font-size: 1rem;
  color: #8e8272;
  margin-bottom: 7%; }
  .portfolio-item p a {
    color: #590100;
    text-decoration: none; }
.portfolio-item ul {
  margin: 0; }
  .portfolio-item ul li {
    display: inline-block;
    text-align: center;
    background-color: #590100;
    color: white;
    width: 9rem;
    height: 3rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 1rem 0;
    margin: 1rem 1rem 1rem 0;
    vertical-align: bottom; }
@media (max-width: 980px) {
  .portfolio-item img {
    width: 100%;
    height: auto;
    padding: 0 10%;
    box-sizing: border-box; } }
@media (max-width: 980px) {
  .portfolio-item {
    box-sizing: border-box;
    padding: 0 5%; } }

/*Portfolio divider*/
article.portfolio-divider {
  min-height: 30%;
  background-color: #431B4A;
  padding: 2% 0; }
  @media (max-width: 980px) {
    article.portfolio-divider {
      padding: 10% 0; } }

.portfolio-quote {
  display: block;
  height: auto;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 3%;
  background-color: white;
  border-radius: 2rem;
  margin-left: 16.66667%; }
  @media (max-width: 980px) {
    .portfolio-quote {
      margin: 5%;
      width: 90%;
      padding: 5%;
      box-sizing: border-box; } }

.portfolio-image img {
  display: block;
  border-radius: 84px;
  float: left;
  padding: 3%; }
  @media (max-width: 980px) {
    .portfolio-image img {
      margin: 0; } }

/*Past experience*/
section#experience {
  height: auto;
  padding: 0;
  background-color: white;
  position: relative; }

.arrow-left {
  text-align: right;
  padding-right: 5%;
  box-sizing: border-box; }

.arrow-right {
  padding-left: 5%;
  box-sizing: border-box; }

.experience-container {
  height: 16rem;
  margin: 5% auto; }

li.experience-items {
  display: none; }
  li.experience-items figure {
    text-align: right; }
    li.experience-items figure img {
      padding: 10% 3%;
      box-sizing: border-box; }
  li.experience-items article {
    color: #8e8272;
    line-height: 1.75rem;
    padding: 3%;
    box-sizing: border-box; }
    li.experience-items article h4 {
      color: #2c1a06; }

.education-item {
  text-align: center; }
  .education-item:last-of-type {
    margin-bottom: 5rem; }
  .education-item h4 {
    font-size: 1.2rem;
    color: #8e8272;
    margin: 1.5rem 0; }
  .education-item p {
    color: #8e8272; }
  @media (max-width: 980px) {
    .education-item {
      padding: 0 5%; } }

/*Experience divider*/
article.experience-divider {
  min-height: 30%;
  background-color: #431B4A;
  padding: 2% 0; }
  @media (max-width: 980px) {
    article.experience-divider {
      padding: 10% 5%; } }

.experience-summary {
  text-align: center; }
  .experience-summary h3 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 5%; }

.summary-item {
  color: white;
  font-size: 1rem;
  text-align: center; }
  .summary-item p {
    margin: 5% 0; }
  @media (max-width: 980px) {
    .summary-item {
      margin: 10% auto; } }

/*Contact section*/
.contact-data ul {
  text-align: center; }
  .contact-data ul li {
    color: #8e8272;
    line-height: 2.5rem;
    font-size: 1.2rem; }
    .contact-data ul li a {
      color: #590100;
      text-decoration: none; }
@media (max-width: 980px) {
  .contact-data {
    box-sizing: border-box;
    padding: 0 5%; } }

li.social-icons {
  display: inline-block;
  margin: 0 0.5rem; }

img.me {
  border-radius: 200px; }
  @media (max-width: 980px) {
    img.me {
      width: 100%;
      height: auto;
      border-radius: 0; } }

.references {
  margin: 7% 0;
  color: #8e8272;
  font-size: 0.6rem;
  text-align: center; }
  .references a {
    color: #590100; }
  @media (max-width: 980px) {
    .references {
      box-sizing: border-box;
      padding: 0 5%;
      margin: 1rem 0; } }

.no-display {
  display: none; }

/*# sourceMappingURL=style.css.map */
